body {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api-call-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 800px) {
  .api-call-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.button-container {
}

.constraints-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings-container {
  border: 1px solid darkgrey;
  padding: 10px;
  background-color: #E8F5E9;
  border-radius: 8px;
  position: relative;
}

#peerconnection-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #C8E6C9; /* Light green */
  color: black;
  border: 1px solid #A5D6A7;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#peerconnection-button:hover {
  background-color: #A5D6A7; /* Darker green on hover */
}

#peerconnection-button.peerconnection-active {
  background-color: #81C784; /* A more saturated green for active state */
  border-color: #66BB6A;
}

#peerconnection-button.peerconnection-active:hover {
  background-color: #66BB6A; /* Darker green for active hover */
}

.settings-container pre {
  font-family: monospace;
  margin: 0;
}

.setting {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.setting label {
  display: inline-block;
  width: 17ch;
  font-family: monospace;
  margin-right: 5px;
}

#gum-button,
#copy-bookmark-button,
#copy-markdown-button,
#save-snapshot-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  height: fit-content;
}
#gum-button:hover,
#copy-bookmark-button:hover,
#copy-markdown-button:hover,
#save-snapshot-button:hover {
  background-color: #45a049;
}

#copy-markdown-button {
  margin-top: 1em;
}

#snapshot-button-container {
  display: none;
  margin-top: -5px;
}


#gum-button:disabled,
#copy-bookmark-button:disabled,
#peerconnection-button:disabled {
  background-color: #cccccc;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.error {
  color: #D8000C; /* A clear, strong red */
  font-family: inherit;
  font-size: inherit;
  margin-top: 10px;
  padding: 10px;
  background-color: #FFD2D2; /* A light red background */
  border-radius: 8px;
  border: 1px solid #D8000C;
  display: none; /* Start hidden */
}

#stream-controls-container {
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

#checkbox-container {
  display: flex;
  align-items: center;
}

#checkbox-container label {
  margin-right: 5px;
}

#visualizer-and-stop-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#audio-visualizer {
  background-color: rgb(250, 250, 250);
  border: 1px solid #444;
  border-radius: 8px;
}

#record-button {
  background-color: #FFCCCC;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#record-button:hover {
  background-color: #FF9999;
}

#record-button.recording-active {
  background-color: #D8000C;
}

#record-button.recording-active:hover {
  background-color: #a00000;
}

.record-dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

#record-button.recording-active .record-dot {
  display: none;
}

#stop-button {
  background-color: #D8000C;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#audio-playback {
  display: none;
}

#recorded-audio {
  display: none;
  margin-left: 10px;
}

#recorded-visualizer {
  display: none;
  background-color: rgb(250, 250, 250);
  border: 1px solid #444;
  border-radius: 8px;
}



#audio-output-info {
  display: none;
}

#audio-devices-container {
  display: none; /* Hidden by default */
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 1em;
}

#track-settings-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#track-constraints,
#track-settings,
#track-properties,
#track-stats,
#audio-input-device,
#audio-output-info {
  background-color: rgb(250, 250, 250);
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px 10px 5px 10px;
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", monospace;
  white-space: pre-wrap;
  text-align: left;
}


.highlight {
  background-color: #FFF59D; /* A more distinct yellow */
  transition: background-color 0.5s ease-in-out;
}

#bookmark-url-container {
  margin-top: 5px;
  word-break: break-all;
}

.about-link-container {
  margin-top: 5px;
}