.container {
  margin-left: 10px;
}

.video-container {
}

.video-container video {
  height: auto;
  border-radius: 10px;
}

.button-container {
  margin-left: 10px;
}

.button-group button {
  margin-bottom: 10px;
}

.checkbox-container {
  margin-left: 10px;
  margin-top: 10px;
}

.select-container {
  margin-left: 10px;
  margin-top: 10px;
}

.select-container select {
  margin-right: 10px;
}

#error-message {
  margin-top: 10px;
  color: red;
}