body {
  font-family: "Lucida Console", "Courier New", monospace;
  /* font-family: monospace; */
}

button, input, select, form {
  font-family: inherit;
}

.video-container {
}

.video-container video {
  width: 236px;
  height: 134px;
  object-fit: cover;
  border-radius: 10px;
}

.pause-container {
  margin-top: 5px;
  margin-left: 10px;
}

.gum-container {
  margin-top: 10px;
  margin-left: 10px;
}

.form-container {
  margin-top: 15px;
  margin-left: 10px;
}

.crop-container {
  margin-left: 10px;
  margin-top: 15px;
}

.crop-container select {
  margin-right: 10px;
}

.peerconnection-container {
  margin-top: 15px;
  margin-left: 10px;
}

.info-container {
  margin-top: 20px;
}

.info-container div {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(250,250,250);
  display: inline-block;
  font-family: 'Roboto', 'sans-serif', monospace;
  font-size: 0.9em;
  top: 10px;
  vertical-align: top;
  white-space: pre;
}

#error-message {
  margin-top: 10px;
  color: red;
}