body {
  font-family: monospace;
  margin: 0;
  padding: 1em;
  word-break: break-word;
}

div#container {
  margin: 0 auto 0 auto;
  max-width: 80em;
  padding: 1em 1.5em 1.3em 1.5em;
}

video {
  background: #222;
  margin: 0 0 0 0;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

#constraints {
  margin-top: 10px;
}

#myConsole {
  margin-top: 20px;
  width: 100%;
  min-height: 400px;
}

#videoFps {
  margin-top: 10px;
}

button, input, select {
  font-family: inherit;
}
