body {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 13.3333px;
}

button, input, select, form {
  font-family: inherit;
}

label[for="gum-aec"] {
  font-size: 13.3333px;
  margin: 0;
}

label[for="gum-mute"] {
  font-size: 13.3333px;
  margin: 0;
}

label[for="gum-play-audio"] {
  font-size: 13.3333px;
  margin: 0;
}

.gum-audio-container {
}

.gum-audio-container audio {
}

.gum-container {
  display: flex;
  align-items: center;
}

.gum-container > * { /* Select all direct children of .gum-container */
  margin-left: 10px; 
}

.gum-container > *:last-child { /* Select the last child */
  margin-right: 0;  /* Remove margin from the last element */
}

.gum-info-container {
  margin-top: 20px;
}

.vertical-line {
  border-left: 1px solid black;
  height: 30px;
  margin-left: 10px;
}

.gum-info-container div {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(250,250,250);
  display: inline-block;
  font-family: 'Roboto', 'sans-serif', monospace;
  font-size: 0.9em;
  top: 10px;
  vertical-align: top;
  white-space: pre;
}

figure {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

figure audio {
}

figure figcaption {
}

#error-message {
  margin-top: 10px;
  color: red;
}