body {
  margin: 0 5px 0 5px;  /* top | right | bottom | left */
  padding: 0;
}

.video-container {
  display: flex; /* Arrange videos side by side */
  width: 100%; /* Occupy full width of parent container */
}

.video-container video {
  width: 50%; /* Each video takes up 50% of available width */
  margin: 5px; /* Add margin between videos */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  box-sizing: border-box; /* Padding and border included within width and height */
}

.button-container {
  margin-top: 10px; /* Add spacing above buttons */
}

.button-container button {
  margin: 5px 5px;  /* top and bottom | left and right */
  padding: 3px 3px;  
}

.codec-container {
  margin-top: 10px;
  margin-left: 5px;
}

.constraints-container {
  margin-top: 10px;
}

.constraints-container button {
  margin: 5px 5px;
  padding: 3px 3px;  
}

#error-message {
  position: fixed;      /* Fix position to the viewport */
  bottom: 0;            /* Place at the bottom */
  left: 50%;            /* Optionally center horizontally */
  transform: translateX(-50%); /* Centering */
  color: red;
}

/*
.button-container button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
*/